/* -----------------vertical CSS--------------------- */
.leftcardpl {
	width: 470px;
	margin: 0;
	float: left;
}
.rightcardpl {
	width: 500px;
	margin: 0;
	float: right;
}
.cardview {
	width: 464px;
	height: 570px;
	float: left;
	margin: 0 0 10px 0;
	position: relative;
}
.cardview .view1 {
	width: 379px;
	height: 551px;
	background: url(../images/page01.png) center top no-repeat;
	display: block;
	margin: 0 auto;
	position: relative;
}
.cardview .view2 {
	width: 464px;
	height: 570px;
	background: url(../images/page02.png) center top no-repeat;
	display: block;
	margin: 0 auto;
	position: relative;
}
.cardview .view3 {
	width: 464px;
	height: 570px;
	background: url(../images/page03.png) center top no-repeat;
	display: block;
	margin: 0 auto;
	position: relative;
}
.cardview .view4 {
	width: 372px;
	height: 544px;
	background: url(../images/page04.png) center top no-repeat;
	display: block;
	margin: 0 auto;
	position: relative;
}
.cardview .view1 .main_displaybox, .cardview .view2 .main_displaybox, .cardview .view3 .main_displaybox, .cardview .view4 .main_displaybox {
	width: 360px;
	height: 504px;
	display: block;
	overflow: hidden;
	position: absolute;
}
.cardview .view1 .main_displaybox {
	top: 34px;
	left: 8px;	
}
.cardview .view2 .main_displaybox {
	top: 30px;
	left: 3px;
}
.cardview .view3 .main_displaybox {
	top: 28px;
	left: 96px;
}
.cardview .view4 .main_displaybox {
	top: 30px;
	left: 3px;
}
.lastlogo {
	width: 135px;
	height: auto;
	background: #fff;
	margin: 365px auto 0 auto;
	text-align: center;
	display: table;
}
.logoview {
	margin: 0 0 5px 0;
}
.logoview img {
	width: 100px;
	display: block;
	margin: 0 auto;
}
.lastlogo a {
	font: normal 11px/14px Arial, Helvetica, sans-serif;
	color: #777777;
	text-align: center;
	padding: 0;
	margin: 0;
	display: block;
	text-decoration: none;
	cursor: pointer;
}
.preview_card {
	width: 280px;
	margin: 0 auto;
}
.preview_card ul {
	padding: 0;
	margin: 0;
}
.preview_card ul li{
	padding: 0;
	margin: 0 10px 0 0;
	list-style-type: none;
	float: left;
	width: 60px;
	height: 70px;
	border: 1px solid #dddddd;
	position: relative;
	cursor: pointer;
}
.preview_card ul li:hover, .preview_card ul li.active {
	border: 1px solid #0097d6;
}
.preview_card ul li:last-child {
	margin: 0;
}
.preview_card ul li a {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer;
}
.photoarrow {
	display: none;
}
.preview_card ul li:hover .photoarrow, .preview_card ul li.active .photoarrow {
	width: 13px;
	height: 9px;
	display: block;
	background: url(../images/photoarrow.png) center bottom no-repeat;
	position: absolute;
	top: -8px;
	left: 25px;
}
.uploadbase {
	width: 300px;
	height: auto;
	background: #ebebeb;
	border: 1px solid #ddd;
	padding: 20px;
	margin: 30px 0 0 0;
	overflow: hidden;
	position: relative;
}
.uploadheading {
	font: normal 22px/30px Arial, Helvetica, sans-serif;
	color: #333;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ddd;
	font-style: italic;
}
.uploadbase p {
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	color: #909090;
	padding: 0;
	margin: 0 0 20px 0;
}
.uploadtitle {
	font: bold 12px/18px Arial, Helvetica, sans-serif;
	color: #616161;
	padding: 0;
	margin: 0 0 8px 0;
}
.addimagebox {
	width: 80px;
	height: 80px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 0 10px 0;
	overflow: hidden;
	cursor: pointer;
}
.uploadoption {
	width: 100%;
	margin: 0;
	float: left;	
}
.uploadoption ul {
	padding: 0;
	margin: 0;
}
.uploadoption ul li {
	padding: 0;
	margin: 0 5px;
	list-style-type: none;
	float: left;
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	color: #777;
}
.uploadoption ul li a {
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	color: #0097d6;
	text-align: center;
	padding: 0;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
}
.uploadoption ul li a:hover {
	color: #000;
}
.cardtextfield {
	width: 288px;
	height: 34px;
	background: #fff;
	border: 1px solid #ddd;
	outline: none;
	font: normal 12px/34px Arial, Helvetica, sans-serif;
	color: #777;
	text-align: left;
	padding: 0 5px;
	margin: 0;
	display: block;
	overflow: hidden;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
 	-o-border-radius: 4px;
	-xv-border-radius: 4px;
	-khtml-border-radius: 4px;
}
.cardtextarea {
	width: 288px;
	height: 80px;
	background: #fff;
	border: 1px solid #ddd;
	outline: none;
	font: normal 12px/34px Arial, Helvetica, sans-serif;
	color: #777;
	text-align: left;
	padding: 0 5px;
	margin: 0;
	resize: none;
	display: block;
	overflow: hidden;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
 	-o-border-radius: 4px;
	-xv-border-radius: 4px;
	-khtml-border-radius: 4px;
}
input.cardbutton {
	width: auto;
	height: 40px;
	background: #fff;
	border: 1px solid #0097d6;
	outline: none;
	font: bold 16px/40px Arial, Helvetica, sans-serif;
	color: #0097d6;
	text-align: center;
	padding: 0 20px;
	margin: 0 15px 0 0;
	display: inline-block;
	overflow: hidden;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-ms-border-radius: 20px;
 	-o-border-radius: 20px;
	-xv-border-radius: 20px;
	-khtml-border-radius: 20px;
}
input.cardbutton:hover {
	background: #0097d6;
	border: 1px solid #0097d6;
	color: #fff;
}
.closepop {
	position: absolute;
	top: 4px;
	right: 10px;
	z-index: 1;
}
.closepop a {
	content: "×";
	display: block;
	text-decoration: none;
	cursor: pointer;
}
.xicon {
	font: bold 18px/20px Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: inherit;
}
/* -----------------horizontal CSS--------------------- */























